body {
		font-size: 62.5%;
		font-family: "Trebuchet MS", sans-serif;
		background-color: #fff;
		color: #565656;
}
.main-wrap {
		max-width: 960px;
		margin: 0 auto;
}
a {
		color: #7E8891;
		text-decoration: none;
		-webkit-transition: color 0.175s ease 0.05s;
		-moz-transition: color 0.175s ease 0.05s;
		transition: color 0.2s ease-in-out 0.09s;
}
a:visited {
		color: #7E8891;
}
a:hover,
a:focus {
		color: #000;
		text-decoration: none;
}
.header {
		text-align: center;
		font-size: 2em;
		margin: 0 10%;
}
.section {
		padding: 1em 1em 0 1em;
		margin-bottom: 1em;
}
.section .fa.left {
		margin-right: 0.25em;
}
h1 {
		color: #343333;
		font-size: 2em;
		margin: 1em 0 0;
		text-transform: capitalize;
}
h2 {
		font-size: 3.5em;
		margin: 0.83em 0;
		color: #4D4D4D;
}
h3 {
		color: #4D4D4D;
		font-size: 1.75em;
		margin: 1em 0 0;
}
h4 {
		color: #4D4D4D;
		font-size: 1.25em;
		margin: 0 0 1em;
}
.profile {
		font-family: "Montserrat";
		font-size: 1em;
		margin: 0;
}
.profile-name {
		display: none;
}
.contact-header {
		font-weight: bolder;
}
.contact-list li,
.contact-list a {
		color: #2b2b2b;
}
.contact-list a:hover,
.contact-list a:focus {
		color: #777777;
}
.label {
		margin-top: 0;
		margin-bottom: 0.25em;
}
.fa {
		font-size: 2em;
}
.left {
		font-size: 1em;
}
.main {
		margin: 0 10% 5em;
}
.skills {
		margin-bottom: 0.5em;
}
p {
		color: #565656;
		font-family: "Open Sans";
		font-size: 1.5em;
}
li {
		color: #565656;
		font-family: "Open Sans";
		font-size: 1.5em;
}
.contact-list li {
		display: inline-block;
}
.contact-list li:first-child:before {
		content: '';
}
.list-lines,
.list-lines li {
		margin: 0;
		padding: 0;
		list-style: none;
}
.list-lines li {
		font-family: "Montserrat";
		font-size: 1em;
}
.list-set,
.list-set li {
		margin: 0;
		padding: 0;
		list-style: none;
}
.list-set li {
		font-family: "Montserrat";
		display: inline-block;
}
.list-set li a {
		display: inline-block;
}
.list-set li .fa {
		min-width: 1em;
		min-height: 1em;
}
/*Minor adjustment to icons.*/
.list-set li .fa-stack-overflow:before {
		font-size: 0.9em;
		position: relative;
		top: -0.05em;
}
.list-set.keywords {
		overflow: hidden;
}
.list-set.keywords li {
		background-color: #0F4C81;
		color: #fff;
		padding: 0.6em 0.85em;
		font-size: 1.3em;
		display: inline-block;
		margin: 1px;
		float: left;
}
.section-sub-education li {
		font-family: "Montserrat";
		font-weight: bold;
}
.profiles-list {
		margin-top: 0.75em;
}
blockquote {
		margin: 2em 1em;
		padding: 1em;
		border-left: 0.75em solid #666666;
		font-family: "Open Sans";
		font-size: 1.5em;
}
blockquote .name {
		font-weight: bold;
		font-family: "Montserrat";
		margin-top: 1em;
}
::-moz-selection {
		background: #fff;
}
::selection {
		background: #fff;
}
@media (max-width: 768px) {
		body {
				font-size: 50%;
		}
		.header {
				margin: 0 5%;
		}
		.main {
				margin: 0 5%;
		}
}
@media print {
		body {
				background: #FFFFFF;
				color: #171717;
		}
		.main-wrap {
				width: 100%;
		}
		.main {
				margin: 0 0 1em 0;
		}
		.section {
				page-break-inside: avoid;
		}
		.main .section:last-child {
				margin-bottom: 0;
		}
		a {
				color: #555555;
		}
		a:visited {
				color: #555555;
		}
		a:hover,
		a:focus {
				color: #555555;
		}
		h1 {
				color: #111111;
				margin-top: 0.5em;
		}
		h2 {
				margin: 0 0 0.25em;
		}
		h3 {
				color: #555555;
		}
		h4 {
				color: #bbbbbb;
		}
		.contact-list li,
		.contact-list a {
				color: #111111;
		}
		p {
				color: #555555;
		}
		li {
				color: #555555;
		}
		.list-set.keywords li {
				background-color: transparent;
				color: #555555;
				border: 1px solid #aaaaaa;
		}
		blockquote {
				border-color: #999999;
		}
		.profiles-list {
				display: table;
				margin: 0.5em auto 0;
		}
		.profiles-list li {
				display: table-row-group;
				font-size: 0.75em;
		}
		.profiles-list li a {
				display: table-row;
		}
		.profiles-list li a:after {
				display: table-cell;
				content: attr(href);
				text-align: left;
				padding: 0 0 0 0.5em;
		}
		.profiles-list li a .fa {
				font-size: 1.5em;
		}
		.profiles-list li a > * {
				display: table-cell;
		}
		.profiles-list li a .profile-name {
				display: none;
		}
		* {
				/* Avoid printing the color at the start of the transition (Chrome issue). */
				-webkit-transition: none !important;
				-moz-transition: none !important;
				transition: none !important;

		}
}
