name: Expo EAS Build

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '18'
            
            - name: Install EAS CLI
              run: npm install -g eas-cli
            
            - name: Install dependencies
              run: npm install
            
            - name: Build Android
              run: eas build --platform android --non-interactive
              env:
                EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
            
            - name: Build iOS
              run: eas build --platform ios --non-interactive
              env:
                EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}